################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Capitech.Client/bin
/src/Capitech.Client/obj
/tests/Capitech.Client.Tests/bin
/tests/Capitech.Client.Tests/obj
